[Unit]
Description=Jenkins Agent

[Service]
User=jenkins
WorkingDirectory=/var/lib/jenkins
ExecStart=/bin/bash /usr/local/jenkins-service/start-agent.sh
Restart=always

[Install]
WantedBy=multi-user.target